body {
  background-color: black;
}

body img {
  border: 1px red solid;
  height: 19rem;
  box-shadow: 0 0 10px red;
}

.image {
  height: 20rem;
  background-image: url(/dealership/pic/130212474.png);
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19rem;
  width: 20rem;
}

.glow {
  box-shadow: 0 0 100px red, 0 0 100px red, 0 0 500px red;
  height: 5rem;
  width: 5rem;
  z-index: -1;
}
