:root {
  --backGround: #1E1F26;
  --lightbackGround: #323444;
  --myWhite: #f5deb3;
  --myGreen: #37ffb3;
  --smoothBlue: #bcbfcf;
  color: var(--myWhite);
  background-color: var(--backGround);
  transition: 1s;
}




#navBar .logo img {
  height: 4rem;
  transition: .4s;
}

#navBar .logo img:hover {
  scale: 1.05;
  transition: .4s;
}

#navBar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--myWhite) .1rem solid;
  margin-bottom: 6rem;
}

#navBar .options a {
  text-decoration: none;
  color: var(--myWhite);
  margin: 1rem;
  transition: .3s;
}

#navBar .options a:hover {
  color: var(--myGreen);
  transition: .3s;
}

.spaceLine {
  border-bottom: var(--myWhite) solid 1px;
  width: 50%;
  margin: 3rem auto 3rem auto;
  /* margin-left:50%; */
  /* margin-right: 100%; */
  /* height: 0.1rem; */
}

#intro {
  /* background-image: url(https://www.yamaha-racing.com/content/dam/yme-racing/eu/news/moto2/20240413-moto2-cota-saturday/_TIN3950.JPG); */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* flex-direction: column; */
}

#intro .title {
  /* margin-left: -2rem; */
  padding: 2rem;
  backdrop-filter: blur(1px);
  /* border: rgb(0, 255, 76) dotted 1px ; */
  /* position: relative; */
  position: absolute;
  left: 0;
  top: 0;
  /* right: 0; */
  /* height: 100%; */
  font-size: 3.5rem;
  width: 12ch;
}

#intro img {
  height: 100vh;
  border-radius: 0 30px 30px 0;
  /* width: 100vw; */
  /* position: absolute; */
}

#intro .stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  /* border: rgb(255, 0, 0) dotted 1px ; */
  width: 100%;
  height: 100vh;
}

#intro .stats .bikesSold, .teamsSponsored, .safetyGearSold{
  /* border: rgb(0, 255, 76) dotted 1px ; */
  /* height: 10vh; */
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

#values {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  /* align-items: end; */
  /* flex-direction: column; */
}

#values .valueText {
  /* background-color: var(--smoothBlue); */
  /* border: var(--lightbackGround) 2px solid; */
  /* border-radius: 0 15px 15px 0; */
  /* color: var(--backGround); */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#values .valueText .one{
  font-size: 2.2rem;
  font-weight: bold;
}

#values .valueText .two{
  font-size: 1.2rem;
}

#values img {
  height: 100vh;
  border-radius:30px 0 0 30px;
  /* margin-left: -3rem; */
  /* z-index: -1; */
  /* width: 98vw; */
  /* margin: auto; */
  /* right: 0; */
  /* position: absolute; */
}


footer {
  margin-top: 6rem;
  border-top: var(--myWhite) .1rem solid;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 1rem;
  /* flex-direction: column; */
  color: var(--myWhite);
}
footer .privacy a {
  text-decoration: underline;
  color: var(--myGreen);
  font-size: 1rem;
  /* margin-bottom: 15rem; */
  /* border: red 1px dotted; */
}



footer .footerLogo img {
  height: 3rem;
}

@media (max-width: 915px) {
  
  #inventory a .bikeTile {
    height: 19rem;
    width: 100%;
  }
  #inventory a .bikeTile img {
    width: 100%;
    margin-top: -100px;
    margin-bottom: -73px;
  }
}
